<%- include ('partials/header.ejs') %>
<body>
  <%- include ('partials/navBar.ejs') %>
  <br />
  <div class="container">
    <div class="row">
      <% arquivos.forEach(arquivo => {%>
      <div class="col-3" style="margin-bottom: 10px">
        <div class="card border-primary" style="max-width: 18rem">
          <div class="card-header"><%= arquivo.title %></div>
          <div class="card-body text-primary">
            <!-- <h5 class="card-title"><%= arquivo.title %></h5> -->
            <p class="card-text"><%= arquivo.description %></p>
            <a href="/download">
              <button class="col-12 btn btn-primary" type="button">
                Baixar
              </button>
            </a>
          </div>
        </div>
      </div>
      <%})%>
    </div>
  </div>
  <!-- <%- include ('partials/footer.ejs') %> -->
</body>
<%- include ('partials/script.ejs') %>
